<ul>
 <li style="display: inline"><%= link_to 'Home', root_path %></li>
 <li style="display: inline"><%= link_to 'Acerca de Nosotros', about_path %></li>
 <li style="display: inline"><%= link_to 'Nuestros Servicios', services_path %></li>
</ul>