<%= content_for :head do %>
    <title>Acerca De Nosotros</title>
<% end %>

<%= content_for :intro do %>
    <h1>Acerca De Nosotros</h1>
    <h2>Nuestra Presentacion</h2>
<% end %>
<p>Somos una organización de amplia experiencia y exitosa trayectoria dentro del mercado global de seguros que se especializa en brindar asesoría integral y asistencia técnica profesional para la prevención, la minimización y el manejo de los riesgos a los cuales se encuentra expuesto su patrimonio y capital humano durante el desarrollo de las actividades empresariales a nivel local, regional y global.</p>