<%= content_for :head do %>
    <title>Servicios</title>
<% end %>

<%= content_for :intro do %>
        <h2>Nuestros Servicios</h2>
<% end %>
<p>El pilar fundamental para la obtenci칩n de la mejor cobertura es el dise침o y la administraci칩n de programas integrales de seguros. Para poder desarrollar el programa que mejor se ajuste a sus necesidades, su estructura y a los procesos insertos en ella realizamos un an치lisis exhaustivo que determine objetivamente las exigencias actuales y se anticipe a las futuras</p>